@charset "UTF-8";

/* 회원 */

#login_frm_box {	
	position: absolute;
    top: calc(50% - 81px);
    left: calc(50% - 110px);
} 

.userform {
	position: relative;
    width: 50%;
    margin: 0 auto;
}

.reg_btn {
	text-align: center;
}

.login_btn {
	text-align:center;
	
}

.btn_area {
	text-align: center;
}